# 探究保健品市场环境数据分析

In [2]:
import numpy as  np
import pandas as pd

In [18]:
data = pd.read_csv('保健品.csv')
sub_data = data.loc[:20]
# print(sub_data)
data.head()

    q5_01  q5_02  q5_03  q5_04  q5_05  q5_06  q5_07  q5_08  q5_09  q5_10  ...  \
0       3      3      4      5      5      5      4      5      3      4  ...
1       5      4      5      5      5      5      5      4      4      4  ...
2       5      5      5      5      1      1      4      1      1      1  ...
3       3      5      5      1      1      1      4      5      4      4  ...
4       5      4      2      2      3      4      4      3      4      3  ...
5       5      5      4      3      1      3      4      4      3      3  ...
6       5      5      3      2      2      2      5      4      3      5  ...
7       4      5      5      1      1      2      5      3      5      1  ...
8       4      3      4      5      3      4      4      3      4      4  ...
9       5      5      4      2      1      3      2      2      5      3  ...
10      4      3      5      4      1      4      3      5      3      4  ...
11      4      3      4      2      2      3      4      3      4      3  ...
12      5      5      5      5      3      5      5      4      5      5  ...
13      2      5      5      1      1      1      1      5      5      5  ...
14      5      5      5      1      4      5      5      3      5      5  ...
15      5      4      5      2      5      5      4      5      3      5  ...
16      3      4      5      4      4      1      5      1      1      5  ...
17      5      5      5      5      4      3      4      3      4      5  ...
18      5      5      5      4      4      4      4      5      5      4  ...
19      5      5      4      4      1      5      5      5      5      4  ...
20      3      3      3      1      1      1      1      3      3      3  ...

    q5_15  q5_16  q5_17  q5_18  q5_19  q5_20  q8  w1  w2  w6
0       5      5      2      3      4      4   9   1   4   1
1       5      5      5      4      4      5   9   1   5   1
2       5      1      1      5      1      1   9   2   2   8
3       3      4      4      1      1      5   9   1   4  11
4       3      4      3      4      5      3   9   1   4  11
5       3      5      1      3      1      5   9   2   3  10
6       5      5      2      4      5      3   9   2   3  10
7       5      2      1      3      3      4   9   2   4   9
8       4      3      2      3      2      3   9   2   3  11
9       5      5      2      2      4      4   9   1   5  10
10      5      5      2      5      2      2   9   1   3  99
11      3      2      3      2      3      2   9   2   3   9
12      5      5      2      3      4      5   9   1   2   1
13      4      5      3      2      4      5   9   1   6  10
14      5      5      1      5      5      5   9   1   3   1
15      5      4      2      2      1      1   9   1   3   1
16      3      4      2      3      3      4   9   1   3   6
17      3      3      4      3      4      3   9   2   3   1
18      4      1      1      1      1      1   9   2   3  10
19      4      4      4      2      2      1   9   2   4  10
20      1      3      1      1      3      1   9   2   3   9

[21 rows x 24 columns]

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,...,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20,q8,w1,w2,w6
0,3,3,4,5,5,5,4,5,3,4,...,5,5,2,3,4,4,9,1,4,1
1,5,4,5,5,5,5,5,4,4,4,...,5,5,5,4,4,5,9,1,5,1
2,5,5,5,5,1,1,4,1,1,1,...,5,1,1,5,1,1,9,2,2,8
3,3,5,5,1,1,1,4,5,4,4,...,3,4,4,1,1,5,9,1,4,11
4,5,4,2,2,3,4,4,3,4,3,...,3,4,3,4,5,3,9,1,4,11

In [12]:
desc = sub_data.describe()
desc

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,...,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20,q8,w1,w2,w6
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,...,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.0,21.000000,21.000000,21.000000
mean,4.285714,4.333333,4.380952,3.047619,2.523810,3.190476,3.904762,3.619048,3.761905,3.809524,...,4.047619,3.809524,2.285714,2.904762,2.952381,3.190476,9.0,1.476190,3.476190,11.380952
std,0.956183,0.856349,0.864650,1.627151,1.569046,1.569046,1.220851,1.283596,1.220851,1.209093,...,1.116969,1.364516,1.189237,1.261141,1.430950,1.569046,0.0,0.511766,0.980767,20.485303
min,2.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.0,1.000000,2.000000,1.000000
25%,4.000000,4.000000,4.000000,2.000000,1.000000,2.000000,4.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,1.000000,2.000000,2.000000,2.000000,9.0,1.000000,3.000000,1.000000
50%,5.000000,5.000000,5.000000,3.000000,2.000000,3.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,2.000000,3.000000,3.000000,3.000000,9.0,1.000000,3.000000,9.000000
75%,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,3.000000,4.000000,4.000000,5.000000,9.0,2.000000,4.000000,10.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,9.0,2.000000,6.000000,99.000000

In [14]:
desc.loc['mean'].sort_values(ascending=False)

w6       11.380952
q8        9.000000
q5_03     4.380952
q5_02     4.333333
q5_01     4.285714
q5_15     4.047619
q5_07     3.904762
q5_10     3.809524
q5_16     3.809524
q5_14     3.809524
q5_11     3.809524
q5_09     3.761905
q5_08     3.619048
w2        3.476190
q5_13     3.285714
q5_20     3.190476
q5_06     3.190476
q5_12     3.095238
q5_04     3.047619
q5_19     2.952381
q5_18     2.904762
q5_05     2.523810
q5_17     2.285714
w1        1.476190
Name: mean, dtype: float64